
  <section class="detail-partial">
    <div class="book-container">
      <img class="book-image" src="<%= book.image_url %>"/>
      <h2 class="book-title"><%= book.title %></h2>
      <h3 class="book-author"><%= book.author %></h3>
      <p><%= book.description %></p>
    </div>
  </section>
