<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Collection</title>
</head>
<body>
  <main>
    <% searchResults.forEach( book => { %>
      <img src="<%= book.image %>"/>
      <h2><%= book.title %></h2>
      <h3><%= book.author %></h3>
      <p><%= book.description %></p>
   <% }) %>
  </main>
  
</body>
</html>