<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/reset.css" rel="stylesheet"/>
  <link href="/styles/base.css" rel="stylesheet"/>
  <link href="/styles/layout.css" rel="stylesheet"/>
  <link href="/styles/modules.css" rel="stylesheet"/>
  <title>Book Collection</title>
</head>
<body>
  <main>
    <h1>You have taken a wrong turn pal, sorry you are now lost forever!</h1>
  </main>
</body>
</html>