main{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#form{
 width: 400px;
 height: 600px;
}

.main-page{
  background-color: gray;
  padding: 40px 20px;
}

.book-container{
  background-color: rgb(184, 181, 181);
  padding: 20px;
  border: solid 1px rgb(164, 163, 167);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

.book-image{
  width: 50%;
  display: block;
  margin: 0 auto 20px auto;
  border: white 10px solid;
}

.book-title{
  flex: 1;
  text-align: center;
  font-size: 2em;
}

.book-author{
  flex: 1;
  text-align: center;
  font-style: italic;
  margin: 10px 0px;
}

h4{
  margin-top: 30px;
  text-align: center;
  font-size: 2em;
}

p{
  flex: 1;
  margin-bottom: 30px;
  margin: 10px 30px;
}


fieldset, #textBox, button{
  width: 80%;
  height: 60px;
  margin: 10px 10%;
}

span{
  font-size: 20px;
}




/* <main id=form>
    <h4>Search by Title or Author</h4>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      <fieldset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
        </label>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main> */

@media only screen and (min-width:768px){



}